@model SubmissionModel


@using (Html.BeginForm(FormMethod.Post))
{

    <div class="form-group" id="url">
        <label for="txtUrl">@Html.DisplayNameFor(Model => Model.Url)</label>
        @Html.TextBoxFor(Model => Model.Url, new { id = "txtUrl", @class = "form-control" })
    </div>

    <div class="form-group" id="type">
        <label for="txtType">@Html.DisplayNameFor(Model => Model.Type)</label>
        <select id="txtType" name="Type" class="form-control">
            <option selected="selected">Blog Posts</option>
            <option>Books</option>
            <option>Presentations</option>
            <option>Videos</option>
            <option>Podcasts</option>
            <option>Examples</option>
        </select>
    </div>

    <div class="form-group" id="email">
        <label for="txtEmail">@Html.DisplayNameFor(Model => Model.Email)</label>
        @Html.TextBoxFor(Model => Model.Email, new { id = "txtEmail", @class = "form-control" })
    </div>

    <div class="form-group" id="description">
        <label for="txtDescription">@Html.DisplayNameFor(Model => Model.Description)</label>
        @Html.TextBoxFor(Model => Model.Description, new { id = "txtDescription", @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}